<% if configuration.facebook_like_goal and configuration.facebook %>
  <% fb_id = configuration.facebook.split('/').last %>

  <div class="sidebar_box_wrapper" id="facebook_box">
    <div class="sidebar_box">
      <h3>Ajude-nos a conseguir <%= configuration.facebook_like_goal %> fãs no Facebook</h3>

      <div class="facebook_progress_bar" data-id="<%= fb_id %>" data-goal="<%= configuration.facebook_like_goal %>">
        <p><span>Carregando...</span></p>
      </div>

      <div class="facebook_like_iframe">
        <iframe src="https://www.facebook.com/plugins/like.php?href=<%= configuration.facebook %>" scrolling="no" frameborder="0" style="border:none; width:300px; height:65px"></iframe>
      </div>
    </div>
  </div>
<% end %>
