<% unless configuration.facebook.blank? %>
  <div class="sidebar_box_wrapper">
    <div class="sidebar_box">
      <h3>Liberdade.BR no Facebook</h3>

      <div class="iframe">
        <div class="fb-like-box" data-href="<%= configuration.facebook %>" data-width="320" data-show-faces="true" data-border-color="#fff" data-stream="false" data-header="false"></div>
      </div>
    </div>
  </div>
<% end %>
