<% send_post_page = Page.get_page(:send_post) %>
<% if send_post_page and send_post_page.published? %>
  <div class="sidebar_box_wrapper" id="submit_post_box">
    <div class="sidebar_box">
      <h3>Envie seu artigo</h3>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi suscipit
      faucibus neque, eget mollis odio aliquet non.</p>

      <p class="buttom">
        <%= link_to 'Envie agora', new_post_path %>
      </p>
    </div>
  </div>
<% end %>
