<%= render :partial => 'facebook_box' %>

<div class="sidebar_box_wrapper">
  <div class="sidebar_box">
    <h3>Liberdade.br no Facebook</h3>

    <div class="iframe">
      <div class="fb-like-box" data-href="http://www.facebook.com/liberdadebr" data-width="320" data-show-faces="true" data-border-color="#fff" data-stream="false" data-header="false"></div>
    </div>
  </div>
</div>
