<ul class="posts">

  <% 6.times do %>
  <li>
    <div class="thumb">
      <a href="#"><img src="/assets/thumb.png" width="150" height="150" alt="image" /></a>
    </div>

    <div class="post_info">
      <h3><a href="#">Lorem ipsum dolor sit amet consectetur</a></h3>

      <p class="info">Libertarianismo.org | publicado 7 de Julho de 2012.</p>

      <div class="resume">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi suscipit
        faucibus neque, eget mollis odio aliquet non.</p>
      </div>

      <p class="links">
        <a href="#" class="blog_link">Ir para o blog</a> |
        <a href="#" class="posts_link"> Mais posts deste blog</a>
      </p>
    </div>
  </li>

  <% end %>


</ul>
