<div class="sidebar_box_wrapper">
  <div class="sidebar_box">
    <h3>Autores deste post</h3>

    <ul>
      <li><a href="#">Juliano Torres</a></li>
      <li><a href="#">Flávio Morgenstern</a></li>
    </ul>
  </div>
</div>

<div class="sidebar_box_wrapper">
  <div class="sidebar_box">
    <h3>Posts em destaque</h3>

    <ul>
      <li><a href="#">Lorem ipsum dolor sit amet consectetur</a></li>
      <li><a href="#">Ipsum dolor sit consectetur</a></li>
      <li><a href="#">Consectetur ipsum dolor sit</a></li>
      <li><a href="#">Ipsum dolor sit consectetur</a></li>
      <li><a href="#">Lorem ipsum dolor sit amet consectetur</a></li>
      <li><a href="#">Consectetur ipsum dolor sit</a></li>
    </ul>
  </div>
</div>

<div class="sidebar_box_wrapper">
  <div class="sidebar_box">
    <h3>O Implicante</h3>

    <p>
      <img src="/assets/blog.png" alt="Post" width="150" height="150" class="image_box" />
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras neque
      sapien, lobortis id interdum quis, pellentesque ac erat. Ut a elit
      magna, non rutrum purus. Nullam faucibus erat quis leo semper sodales
      pulvinar elit tempus.
    </p>

    <p class="buttom">
      <a href="#">Veja mais posts deste blog</a>
    </p>
  </div>
</div>

<div class="sidebar_box_wrapper">
  <div class="sidebar_box">
    <h3>Liberdade.br no Facebook</h3>

    <div class="iframe">
      <div class="fb-like-box" data-href="http://www.facebook.com/liberdadebr" data-width="320" data-show-faces="true" data-border-color="#fff" data-stream="false" data-header="false"></div>
    </div>
  </div>
</div>
