<%= content_for :page_title do 'Principal' end %>

<%= content_for :page_id do 'index' end %>

<%= content_for :content do %>

  <!-- BANNER BEGIN -->
  <div id="banner_wrapper">
    <div id="banner">

      <ul class="images">
        <li style="background: red;"></li>
        <li style="background: green;"></li>
        <li style="background: yellow;"></li>
      </ul>

      <div class="infos_wrapper">
        <div class="infos">
          <ul>
            <li>
              <h3><a href="#">
                Lorem ipsum dolor sit amet consectetur
              </a></h3>

              <p class="buttom"><a href="#">Leia mais</a></p>
            </li>

            <li>
              <h3><a href="#">
                Lorem ipsum dolor amet consectetur
              </a></h3>

              <p class="buttom"><a href="#">Leia mais</a></p>
            </li>

            <li>
              <h3><a href="#">
                Lorem ipsum dolor sit amet
              </a></h3>

              <p class="buttom"><a href="#">Leia mais</a></p>
            </li>
          </ul>

          <p class="controls">
            <span class="active">1</span>
            <span>2</span>
            <span>3</span>
          </p>
        </div>
      </div>

    </div>
  </div>
  <!-- BANNER END -->

<% end %>
