* {
    margin: 0;
    padding: 0;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

strong {
    font-weight: bold;
}

html {
    height: 100%;

    background: rgb(255,204,0); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,204,0,1) 55%, rgba(242,149,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(55%,rgba(255,204,0,1)), color-stop(100%,rgba(242,149,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,204,0,1) 55%,rgba(242,149,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,204,0,1) 55%,rgba(242,149,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,204,0,1) 55%,rgba(242,149,0,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,204,0,1) 55%,rgba(242,149,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffcc00', endColorstr='#f29500',GradientType=0 ); /* IE6-9 */
}

body {
    height: 100%;

    background: url("/assets/login_bg.png") no-repeat center;
}

img {
    border: 0;
}

div:after, ol:after, form:after, ul:after, dl:after, li:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    overflow: hidden;
}

input[type="submit"]::-moz-focus-inner {
    border: 0;
}

.simple_form > div:first-child:after {
    content: none;
}

/* ========================================================================== */

/*
** Wrapper
*/

#wrapper {
    min-height: 100%;

    background: url("/assets/login_logos.png") no-repeat left bottom;
}

/*
** Content
*/

#content_wrapper {
    margin: 0 auto;
    padding: 100px 0;
    width: 800px;
}

#content {
    margin: 0 auto;
    padding: 20px 20px 0 20px;
    width: 380px;

    border: 1px solid #fff;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

#content h1 {
    margin: -100px 0 0 200px;
    position: absolute;
}

#content h2 {
    margin-bottom: 40px;

    color: #000;
    font-size: 32px;
    font-weight: normal;
}

#content form .input {
    margin-bottom: 10px;
}

#content form .input label,
#content form .input input {
    display: block;
    float: left;
}

#content form .input label {
    margin: 8px 10px 0 0;
    width: 80px;

    color: #000;
    font-size: 14px;
    text-align: right;
}

#content form .input input {
    padding: 10px;
    width: 250px;

    font-size: 14px;
    border: 1px solid #CCC;
    border-top-color: #AAA;
    box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.05);
}

#content form .input.boolean label {
    margin: 8px 0 0 90px;
    width: auto;
    line-height: 85%;
    text-align: left;
}

#content form .input.boolean label input {
    margin-right: 10px;
    width: auto;
}

#content form .input.field_with_errors input {
    border: 1px solid red;
    background: #E5C7C7;
    background: -moz-linear-gradient(top, #E5C7C7 0%, white 32%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#E5C7C7), color-stop(32%,white));
    background: -webkit-linear-gradient(top, #E5C7C7 0%,white 32%);
    background: -o-linear-gradient(top, #E5C7C7 0%,white 32%);
    background: -ms-linear-gradient(top, #E5C7C7 0%,white 32%);
    background: linear-gradient(top, #E5C7C7 0%,white 32%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5c7c7', endColorstr='#ffffff',GradientType=0 );
}

#content form .input .error {
    margin-left: 90px;
    display: block;
    clear: both;

    color: red;
    font-size: 13px;
}

#content form .alert-error {
    margin-bottom: 20px;
    padding-left: 20px;

    color: red;
    font-size: 13px;
    background: url("/assets/error_icon.png") no-repeat left center;
}

#content .actions {
    margin: 20px -20px 0 -20px;
    padding: 15px 20px;
}

#content .actions .links {
    float: left;
}

#content .actions .links a {
    color: #000;
    font-size: 12px;
    text-decoration: none;
}

#content .actions .links a:hover {
    text-decoration: underline;
}


/* Buttom */

.buttom {
    padding: 5px;
    float: right;

    border-radius: 30px;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.35) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.35)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.35) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0.35) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0.35) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0.35) 0%,rgba(0,0,0,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

.buttom a, .buttom input {
    padding: 5px 15px;
    display: block;

    cursor: pointer;
    color: #000 !important;
    font-size: 14px !important;
    text-shadow: 0 1px 0 #fff;
    text-decoration: none;
    text-align: center;
    border-radius: 30px;
    border: 0;
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.buttom a:hover, .buttom input:hover {
    text-decoration: none !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.buttom a:active, .buttom input:active {
    margin: 1px 0 -1px 0;
}
